@import "tailwindcss";

/*
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
*/

@layer base {
  :root {
    --text: #08090d;
    --background: #f8f8fc;
    --primary: #5263b7;
    --secondary: #9ca7dd;
    --accent: #7283da;
  }

  .dark {
    --text: #f2f3f7;
    --background: #030307;
    --primary: #4859ad;
    --secondary: #222d63;
    --accent: #25378d;
  }
}


html {
  scroll-behavior: smooth;
}
